<h1>Hello!</h1>
<p>This is my first 'solo' endeavor into Ruby on Rails. Solo in quotes because I am mostly expanding on the existing guide
  at http://guides.rubyonrails.org/getting_started.html.<br>Feel free to contact me at a.mccanna@gmail.com for suggestions!</p>

<%= link_to 'My API', controller: 'courses' %>