// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#course_name {
  color: green;

}

#course_holes_table {
  border-style: solid;
}
#course_body {
  border-style: solid;
  background: blanchedalmond;
}
#course_header {
  background: darkseagreen;
  border-style: solid;
}